{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container wrapper flex-grow-1">
<h1 class="my-4">{% trans 'Equipment detail view' %}</h1>

<div class="card">
  <div class="card-header bg-info text-white">
    <h2>{{ equipment.equipment_type }} {{ equipment.name }}, {% trans 'st.' %}№{{ equipment.station_num }}</h2>
  </div>
  <div class="card-body bg-light">
    <p><h4>{{ equipment.station }}</h4></p>
    <hr>
    <div class="container">
      <div class="row p-2">
        <div class="col">{% trans 'Factory number' %}</div>
        <div class="col">{{ equipment.factory_num }}</div>
      </div>
      <div class="row p-2">
        <div class="col">{% trans 'Register number' %}</div>
        <div class="col">{{ equipment.register_num }}</div>
      </div>
      <div class="row p-2">
        <div class="col">{% trans 'Inventory number' %}</div>
        <div class="col">{{ equipment.inventory_num }}</div>
      </div>
      <div class="row p-2">
        <div class="col">{% trans 'Start operation date' %}</div>
        <div class="col">{{ equipment.start_op_date }}</div>
      </div>
      <div class="row p-2">
        <div class="col">{% trans 'Operation time (hours)' %}</div>
        <div class="col">{{ equipment.op_time }} {% trans '(hours)' %}</div>
      </div>
      <div class="row p-2">
        <div class="col">{% trans 'Last major repair date' %}</div>
        <div class="col">{{ equipment.last_repair_date }}</div>
      </div>
      <div class="row p-2">
        <div class="col">{% trans 'Operation time after major repair (hours)' %}</div>
        <div class="col">{{ equipment.op_time_after_repairs }} {% trans '(hours)' %}</div>
      </div>
      <div class="row p-2">
        <div class="col">{% trans 'Description' %}</div>
        <div class="col">{{ equipment.description }}</div>
      </div>

      <div class="row p-2">
        <div class="col">
          <a href="/equipments/{{ equipment.id }}/update/">{% trans 'Update' %}</a>
          <br>
          <a href="/equipments/{{ equipment.id }}/delete/">{% trans 'Delete' %}</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
