{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{{ title }}</h1>
</div>

<a class="nav-link" href="{% url 'equipment_create' %}">{% trans 'Create equipment' %}</a>


<table class="table" aria-label="Equipment table">
    <caption class="invisible">{% trans 'Equipment table' %}</caption>
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">{% trans 'Station' %}</th>
        <th scope="col">{% trans 'Object type' %}</th>
        <th scope="col">{% trans 'Name' %}</th>
        <th scope="col">{% trans 'Station number' %}</th>
        <th scope="col">{% trans 'Factory number' %}</th>
        <th scope="col">{% trans 'Registration number' %}</th>
        <th scope="col">{% trans 'Operation time (hours)' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for eq in equipment %}
    <tr>
        <th scope="row">{{ eq.pk }}</th>
        <td>{{ eq.station }}</td>
        <td>{{ eq.equipment_type }}</td>
        <td><a href="/equipment/{{ eq.pk }}">{{ eq.name }}</a></td>
        <td>{{ eq.station_num }}</td>
        <td>{{ eq.factory_num }}</td>
        <td>{{ eq.register_num }}</td>
        <td>{{ eq.op_time }}</td>
        <td>
            <a href="/equipment/{{ eq.pk }}/update/">{{ btn_update }}</a>
            <br>
            <a href="/equipment/{{ eq.pk }}/delete/">{{ btn_delete }}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
