{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{{ title }}</h1>
</div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">{% trans 'User name' %}</th>
        <th scope="col">{% trans 'Full name' %}</th>
        <th scope="col">{% trans 'Created date' %}</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <th scope="row">{{ user.pk }}</th>
        {% if request.user.is_authenticated %}
            <td><a href="/users/{{ user.pk }}">{{ user.username }}</a></td>
        {% else %}
            <td>{{ user.username }}</td>
        {% endif %}
        <td>{{ user.first_name }} {{ user.last_name }}</td>
        <td>{{ user.date_joined }}</td>
        <td>
            <a href="/users/{{ user.pk }}/update/">{{ btn_update }}</a>
            <br>
            <a href="/users/{{ user.pk }}/delete/">{{ btn_delete }}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
